@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  background: purple url(/background.jpg) no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 300px;
  width: 300px;
  transform: scale(1);
}

.circle {
  background-color: #d1eeee;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.gradient-circle {
  background: conic-gradient(
    #388e8e 0%,
    #8fd8d8 40%,
    #adeaea 40%,
    #adeaea 60%,
    #00ced1 60%,
    #00c5cd 100%
  );
  height: 315px;
  width: 315px;
  z-index: -2;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -7px;
}

.dot {
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}

.dot-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
